
.main--conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.conteiner {
  background-color: #61ce70;
  border-radius: 4px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.border{
  border-bottom: dashed 1px;
  border-top: dashed 1px;;
  margin-left: 10px;
  padding: 10px;
  margin-right: 10px;
}
.main--top {
  margin: 0;
}
.logo {
  background: url(./twitter.png);
  height: 30px;
  border: #61ce70;
}