
.main--conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}
.finale-conteiner{
  margin-top: 25px;
  background-color: #61ce70;
  border-radius: 4px;
  margin: 30px;
  margin-left: 130px;
  margin-right: 130px;
  color: black;

}
.conteiner {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.border1{
  border-bottom: dashed 1px;
  border-top: dashed 1px;;
  margin-left: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 0 ;
}
.main--top {
  margin: 0;
  font-weight: bold;
}
.logo {
  
  height: 30px;
  border: #61ce70;
}
.inputcheckbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1 {
  margin-top: 20px;
  height: 100px;
  border: #61ce70;
  margin-bottom: 30px;
}
.conteiner1 {
  display: flex;
  flex-direction:  row;
  justify-content: space-around;
  align-items: center;
  
  
  
}
.bold{
  font-weight: bold;
  
}
 .logo-sifter{
   
   height: 30px;
 } 
 .dark-mode{
  background-color:#6c757d;
 }
 .light-mode{

 }
 .crypto{
   display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
 }
 .crypto-blox{
  background-color: #6c757d;
  
 }
 
  @media only screen and (max-width: 900px) {
  .finale-conteiner{
  margin-top: 25px;
  background-color: #61ce70;
  border-radius: 4px;
  margin: 30px;
 color: black;
}
}
