
.main--conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.finale-conteiner{
  margin-top: 25px;
  background-color: #61ce70;
  border-radius: 4px;
  margin: 30px;
}
.conteiner {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.border{
  border-bottom: dashed 1px;
  border-top: dashed 1px;;
  margin-left: 10px;
  padding: 10px;
  margin-right: 10px;
}
.main--top {
  margin: 0;
}
.logo {
  
  height: 30px;
  border: #61ce70;
}
.inputcheckbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1 {
  
  height: 300px;
  border: #61ce70;
}
.conteiner1 {
  display: flex;
  flex-direction:  row;
  justify-content: space-around;
  align-items: center;
  
  
  
}
  
  