.margines-gorny{
  padding-top: 10px;
 align-items: baseline;
}
.main--conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}
.centownie{
  justify-content: center;
}

.finale-conteiner{
  margin-top: 25px;
  background-color: #61ce70;
  border-radius: 4px;
  margin: 30px;
  margin-left: 130px;
  margin-right: 130px;
  color: black;

}
.margines{
  margin-right: 90px;
}
.conteiner2 {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.border1{
  border-bottom: dashed 1px;
  border-top: dashed 1px;;
  margin-left: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 0 ;
}
.main--top {
  padding-top: 10px;
  font-weight: bold;
  align-items: baseline;
}
.logo {
  
  height: 30px;
  border: #61ce70;
}
.inputcheckbox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1 {
  margin-top: 20px;
  height: 100px;
  border: #61ce70;
  margin-bottom: 30px;
}
.conteiner1 {
  display: flex;
  flex-direction:  row;
  justify-content: space-around;
  align-items: center;
  
  
  
}
.navbarclass{
background-color:#6c757d;
}
.bold{
  font-weight: bold;
  
}
 .logo-sifter{
   
   height: 30px;
 } 
 .light-navbarclass{
   background-color: #f8f9fa;
 }
 .dark-mode{
   
   background-color: #212529;
 }
 .light-mode{
   
  background-color:white;
 }
 .crypto{
   
   display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
 }
 .crypto-blox{
  background-color: #6c757d;
   height: 80px;
   width: 80px;
  
 }
 .crypto-blox1 {
   
color: #6c757d;
 }
 
  @media only screen and (max-width: 1000px) {
  .finale-conteiner{
  margin-top: 25px;
  background-color: #61ce70;
  border-radius: 4px;
  margin: 30px;
 color: black;
}


 .crypto{
   overflow: scroll;
   display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
 }
}
.svg-white{
  filter: invert(100%);
  width: 30px;

}
.svg-black{
width: 30px;
}
.left-item{
  float: left;
}