

body {
  margin: 0;
  
}


 
 a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none;color: black; }
a:focus {text-decoration: none;color: inherit;}
