
body {
  margin: 0;
  font-family:  'Roboto'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
 a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none;color: black; }
a:focus {text-decoration: none;color: inherit;}
